# Exclude generated / large files
vector_index.npy
glossary.json
config.json
terms_index.json
*.xml
logs/
build/
dist/

# Python artifact ignores
__pycache__/
*.py[cod]
*.egg-info/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
